## Goodreads Books Analysis using Pandas

In [3]:
import pandas as pd

### Loading and Inspecting Data

In [7]:
# Reading csv file
df = pd.read_csv("../../dataset/books.csv")

In [8]:
# Top rows of dataframe
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,439785960,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,439358078,9.780440e+12,eng,870,2153167,29221,2004-01-09,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780440e+12,eng,352,6333,244,2003-01-11,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,043965548X,9.780440e+12,eng,435,2339585,36325,2004-01-05,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.780440e+12,eng,2690,41428,164,9/13/2004,Scholastic

In [9]:
# Describes type of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  float64
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.0+ MB

In [10]:
# No of rows and columns
df.shape

(11127, 12)

In [11]:
# Aggregate functions
df.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,21310.938887,3.933631,9.759888e+12,336.376921,1.793641e+04,541.864474
std,13093.358023,0.352445,4.428964e+11,241.127305,1.124794e+05,2576.174610
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10287.000000,3.770000,9.780350e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780590e+12,299.000000,7.450000e+02,47.000000
75%,32104.500000,4.135000,9.780870e+12,416.000000,4.993500e+03,237.500000
max,45641.000000,5.000000,9.790010e+12,6576.000000,4.597666e+06,94265.000000

### Data Cleaning

In [12]:
# Finding null values
df.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

In [13]:
# Renaming column to remove empty spaces
df.rename(columns={'  num_pages': 'num_pages'}, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  float64
 6   language_code       11127 non-null  object
 7   num_pages           11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.0+ MB

In [15]:
df['publication_date'] = pd.to_datetime(df['publication_date'], format='mixed')

ValueError: day is out of range for month, at position 8180

In [ ]:
# Locating specific row to solve error
df.iloc[8180]

In [16]:
df['publication_date'] = pd.to_datetime(df['publication_date'], format='mixed', errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  float64
 6   language_code       11127 non-null  object
 7   num_pages           11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11125 non-null  datetime64[ns]
 11  publisher           11127 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 1.0+ MB

### Business Questions & Insights

#### Q1: What is the highest reviewed book of all time?

In [18]:
# select * from books 
# order by text_reviews_count desc 
# limit 1;

# 1st way: Sorting
df.sort_values(by='text_reviews_count', ascending=False).head(1)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10340,41865,Twilight (Twilight #1),Stephenie Meyer,3.59,316015849,9.780320e+12,eng,501,4597666,94265,2006-06-09,Little Brown and Company

In [19]:
# 2nd way: Max row
df.loc[df['text_reviews_count'].idxmax()]

bookID                                    41865
title                   Twilight (Twilight  #1)
authors                         Stephenie Meyer
average_rating                             3.59
isbn                                  316015849
isbn13                          9780320000000.0
language_code                               eng
num_pages                                   501
ratings_count                           4597666
text_reviews_count                        94265
publication_date            2006-06-09 00:00:00
publisher             Little  Brown and Company
Name: 10340, dtype: object

Twilight by Stephenie Meyer is the highest reviewed book out of all the Goodreads Books with over 90000 counts.

#### Q2: List all the non-english books

In [ ]:
df[(df['language_code'] != "eng") & (df['language_code'] != "en-US") & (df['language_code'] != "en-GB")]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
50,80,La Place de la Concorde Suisse,John McPhee,3.92,374519323,9.780370e+12,fre,160,698,52,1994-01-04,Farrar Straus and Giroux
109,201,Una arruga en el tiempo â€“ A Wrinkle in Time,Madeleine L'Engle,4.00,606105263,9.780610e+12,spa,205,6,1,1984-01-06,Turtleback Books
146,324,Cien aÃ±os de soledad,Gabriel GarcÃ­a MÃ¡rquez,4.07,785950109,9.780790e+12,spa,448,63,7,1990-01-01,French & European
150,337,El perfume: Historia de un asesino,Patrick SÃ¼skind,4.02,8432216062,9.788430e+12,spa,239,4136,255,2002-01-06,Booket
201,466,Timbuktu / Leviathan / Moon Palace,Paul Auster,4.38,2742741461,9.782740e+12,fre,1075,21,1,2002-07-11,Actes Sud
...,...,...,...,...,...,...,...,...,...,...,...,...
11117,45617,O Cavalo e o Seu Rapaz (As CrÃ³nicas de NÃ¡rni...,C.S. Lewis/Pauline Baynes/Ana FalcÃ£o Bastos,3.92,9722330551,9.789720e+12,por,160,207,16,2003-08-15,Editorial PresenÃ§a
11118,45623,O Sobrinho do MÃ¡gico (As CrÃ³nicas de NÃ¡rnia...,C.S. Lewis/Pauline Baynes/Ana FalcÃ£o Bastos,4.04,9722329987,9.789720e+12,por,147,396,37,2003-08-04,Editorial PresenÃ§a
11119,45625,A Viagem do Caminheiro da Alvorada (As CrÃ³nic...,C.S. Lewis/Pauline Baynes/Ana FalcÃ£o Bastos,4.09,9722331329,9.789720e+12,por,176,161,14,2004-01-09,Editorial PresenÃ§a
11120,45626,O PrÃ­ncipe Caspian (As CrÃ³nicas de NÃ¡rnia #4),C.S. Lewis/Pauline Baynes/Ana FalcÃ£o Bastos,3.97,9722330977,9.789720e+12,por,160,215,11,2003-11-10,Editorial PresenÃ§a
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.788500e+12,spa,272,113,12,2006-05-28,Edimat Libros

#### Q3: Group number of books per publisher

In [21]:
# Size behaves like count in sql
df.groupby('publisher').size()

publisher
1st Book Library                         1
1st World Library                        1
A & C Black (Childrens books)            1
A Harvest Book/Harcourt  Inc.            1
A K PETERS                               1
                                        ..
è¯ç¶“å‡ºç‰ˆäº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸     2
è§’å·æ›¸åº— (Kadokawa Shoten)           2
è¬›è«‡ç¤¾                                6
è‹±æ–‡æ¼¢è²å‡ºç‰ˆè‚¡ä»½æœ‰é™å…¬å¸     1
é›†è‹±ç¤¾                               12
Length: 2292, dtype: int64

This shows that 1st Book Library, 1st World Library, and many such publishers has the least number of books in Goodreads collection, whereas é›†è‹±ç¤¾ has the most number of books(12) in the dataset.

#### Q4: Highest rated book of 2001

In [22]:
book_2001 = df[df['publication_date'].dt.year == 2001]
book_2001.loc[book_2001['text_reviews_count'].idxmax()]

bookID                                  5107
title                 The Catcher in the Rye
authors                        J.D. Salinger
average_rating                           3.8
isbn                               316769177
isbn13                       9780320000000.0
language_code                            eng
num_pages                                277
ratings_count                        2457092
text_reviews_count                     43499
publication_date         2001-01-30 00:00:00
publisher                     Back Bay Books
Name: 1462, dtype: object

The Catcher in the Rye by J.D. Salinger is the highest rated book of year 2001 with over 2 million ratings.

#### Q5: List english author with highest rated book (average_rating)

In [23]:
english_author = df[(df['language_code'] == "eng") | (df['language_code'] == "en-US")]
english_author.loc[english_author['average_rating'].idxmax()]

bookID                                             2560
title                 Willem de Kooning: Late Paintings
authors                 Julie Sylvester/David Sylvester
average_rating                                      5.0
isbn                                         382960226X
isbn13                                  9783830000000.0
language_code                                       eng
num_pages                                            83
ratings_count                                         1
text_reviews_count                                    0
publication_date                    2006-01-09 00:00:00
publisher                                Schirmer Mosel
Name: 786, dtype: object

English authors with the highest ratings are Julie Sylvester, and David Sylvester, who are better known for their curation of Willem de Kooning's Paintings.

#### Q6: Which publisher has the highest rating count?

In [24]:
all_data = df.loc[df['ratings_count'].idxmax()]
all_data['publisher']

'Little  Brown and Company'

Little Brown and Company has the highest number of ratings in the dataset.

#### Q7: Which book is the most popular for each publisher? (ratings_count)

In [25]:
# select title from books group by publisher order by ratings_count

most_popular = df.loc[df.groupby('publisher')['ratings_count'].idxmax()]
most_popular[['publisher', 'title', 'ratings_count']]

,publisher,title,ratings_count
8092,1st Book Library,Lila's Child: An Inquiry into Quality,54
1587,1st World Library,Nineteen Eighty-Four,215
4513,A & C Black (Childrens books),The Custard Kid (Black Cats),5
5215,A Harvest Book/Harcourt Inc.,Women and Writing,244
825,A K PETERS,Advanced Global Illumination,17
...,...,...,...
4262,è¯ç¶“å‡ºç‰ˆäº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸,é­”æˆ’é¦–éƒ¨æ›²ï¼šé­”æˆ’ç¾èº«,26
7052,è§’å·æ›¸åº— (Kadokawa Shoten),å«ã‚“ã§ã‚„ã‚‹ãœ! (1) (ã‚ã™ã‹ã‚³ãƒŸãƒƒã‚¯...,2
3768,è¬›è«‡ç¤¾,ãƒ„ãƒã‚µ-RESERVoir CHRoNiCLE- 3,7
5421,è‹±æ–‡æ¼¢è²å‡ºç‰ˆè‚¡ä»½æœ‰é™å…¬å¸,é‡Žç¸åœ‹ (æ¼¢è²ç²¾é¸ä¸–ç•Œæœ€ä½³å…’ç«¥åœ–ç•...,27
3781,é›†è‹±ç¤¾,ãƒ’ã‚«ãƒ«ã®ç¢ 14ã€sai vs toya koyo,331

#### Q8: What are the average text reviews count for publisher?

In [26]:
df.groupby('publisher')['text_reviews_count'].mean()

publisher
1st Book Library                         5.000000
1st World Library                       17.000000
A & C Black (Childrens books)            0.000000
A Harvest Book/Harcourt  Inc.           13.000000
A K PETERS                               2.000000
                                          ...
è¯ç¶“å‡ºç‰ˆäº‹æ¥­è‚¡ä»½æœ‰é™å…¬å¸     0.000000
è§’å·æ›¸åº— (Kadokawa Shoten)           0.000000
è¬›è«‡ç¤¾                                1.000000
è‹±æ–‡æ¼¢è²å‡ºç‰ˆè‚¡ä»½æœ‰é™å…¬å¸     4.000000
é›†è‹±ç¤¾                                7.166667
Name: text_reviews_count, Length: 2292, dtype: float64

#### Q9: Get all Spanish books and save it into csv format

In [33]:
spanish_df = df[df['language_code'] == 'spa']

In [34]:
spanish_df.to_csv('./spanish_books.csv')

#### Q10: Categorise based on average_rating

In [31]:
def group_data(row):
    if row['average_rating'] <= 3:
        return 'Not recommended'
    elif row['average_rating'] > 3 and row['average_rating'] <= 4:
        return 'Okay'
    else:
        return 'Must read'

df['Recommendation'] = df.apply(group_data, axis=1)  # Axis=1 indicates along columns

In [32]:
df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Recommendation
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,439785960,9.780440e+12,eng,652,2095690,27591,2006-09-16,Scholastic Inc.,Must read
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,439358078,9.780440e+12,eng,870,2153167,29221,2004-01-09,Scholastic Inc.,Must read
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780440e+12,eng,352,6333,244,2003-01-11,Scholastic,Must read
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,043965548X,9.780440e+12,eng,435,2339585,36325,2004-01-05,Scholastic Inc.,Must read
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.780440e+12,eng,2690,41428,164,2004-09-13,Scholastic,Must read
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.781560e+12,eng,512,156,20,2004-12-21,Da Capo Press,Must read
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.780140e+12,eng,635,783,56,1988-01-12,Penguin Books,Must read
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.780140e+12,eng,415,820,95,1993-01-08,Penguin Books,Okay
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.780060e+12,eng,434,769,139,2007-02-27,Ecco,Okay
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.788500e+12,spa,272,113,12,2006-05-28,Edimat Libros,Okay

Given function categorises books based on their average rating into "Not recommended", "Okay", and "Must read". If the book has rating below 3, it is labelled as "Not recommended". If the book has rating above 3 and below 4, it is labelled as "Okay", and if the rating is above 4, it is labelled as "Must read".